.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 5px solid #00bcd4;
  border-right: 5px solid #f44336;
  border-bottom: 5px solid #ffeb3b;
  border-left: 5px solid #4caf50;
  animation: spin 1s linear infinite;
}

.xlpost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xlpost:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-right: 5px solid #f44336;
  border-left: 5px solid #4caf50;
  animation: spin 1s linear infinite;
}

.posting {display: flex;align-items: center;justify-content: center;}
.posting:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-right: 5px solid #f44336;
  border-left: 5px solid #4caf50;
  animation: spin 1s linear infinite;
}
.mailpost {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 60px;
}

.mailpost:before {
  content: '';
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-right: 5px solid #f44336;
  border-left: 5px solid #4caf50;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* New css for Dashboard*/
* {box-sizing: border-box;font-family: 'Poppins', sans-serif !important;}
body{padding: 0px;margin: 0px;font-family: 'Poppins', sans-serif !important;}
.d-flex.select-comp {display: flex;gap: 5px;padding: 4px 0px;}
.upload-btn {margin-bottom: 0px !important;display: flex;justify-content: center;padding: 3px 0px 7px; gap: 10px;}
.notice-table th {font-weight: bold;}
.notice-table th {padding: 8px 10px;background: rgb(241, 241, 241);}
.notice-table td {padding: 8px 10px;}
.pdf-icon svg {color: red;}
tr:nth-child(even) {background-color: #F7F8FA;}
.notice-table tr:hover {background-color: rgba(0, 0, 0, 0.04);}
.notice-table .send-email {background: #24D555;}
.notice-table .send-sms {background: #0BBDDD;}
.login-page {background: url(../../images/bg-01.jpg);width: 100%;min-height: 100vh;box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;padding: 15px;background-repeat: no-repeat;background-position: center;background-size: cover;}
.login-box{width: 500px;background: #fff;border-radius: 10px;overflow: hidden;padding: 55px;}
.login-box h3 {margin: 0px;}
.login-box label {font-weight: bold;}
.login-box label + div {padding: 10px 0px;}
.login-btn {width: 100%;display: block;position: relative;z-index: 1;border-radius: 25px;overflow: hidden;margin: 10px auto ;}
.login100-form-bgbtn {position: absolute;z-index: -1;width: 300%; height: 100%;background: #a64bf4;
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: -o-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: -moz-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    top: 0;left: -100%;-webkit-transition: all .4s;-o-transition: all .4s;-moz-transition: all .4s;transition: all .4s;}
.login-btn:hover .login100-form-bgbtn {left: 0px;}
.login-btn button {font-size: 16px;
  line-height: 1.2; background: none; border: none; outline: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;display: flex;justify-content: center;align-items: center;padding: 0 20px;width: 100%;height: 50px;}
  .login-btn button:hover{background: none;}
  header.top-bar {background: #F7F8FA;color: #1E201F;box-shadow: none;border-bottom: 1px solid #E0E4F0;}
  .left-side > div { background: #F7F8FA;}
  .proj-title.css-1r9jet7 {justify-content: space-between;padding-left: 15px;}
  .proj-title h5 {font-size: 32px;font-weight: 700;line-height: 39px;letter-spacing: 0px;text-align: center;color: #0068B9;}
  .list-item .MuiListItemIcon-root {margin-right: 20px;position: relative;top: -2px;}
  .list-item li {cursor: pointer; transition: transform 0.5s ease;}
  .list-item li:hover {color: #1a237e; transform: scale(1.1);}

  .notice-page .hello-user{text-align: left;padding-left: 15px;color: #1E201F;transition: transform 0.5s ease;cursor: pointer;}
  .notice-page .hello-user:hover {transform: scale(0.99); color: #1a237e;}
  .upload-popup .select-notice {box-shadow: none;padding: 5px 0px 0px;min-width: 450px;text-align: left;}
  .upload-popup h5 {padding: 20px 0px 6px;font-weight: 500;}
  .upload-popup .upload-sce {box-shadow: none; border: 2px dashed #ccc;padding: 20px 0px;margin-bottom: 10px;}
  .gray-bg .filter-bar {background: rgb(241, 241, 241);box-shadow: none;padding: 8px 15px; margin-bottom: -5px;}
  .gray-bg .filter-bar > div {min-width: 300px;}
  .left-side h4 {font-size: 14px;padding: 10px 15px;position: absolute;bottom: 0px;border-top: 1px solid rgba(0, 0, 0, 0.12);width: 100%;}
  .single-excel .file-data{text-align: left;padding-left: 15px;color: #1E201F;transition: transform 0.5s ease;cursor: pointer;background: rgb(241, 241, 241);box-shadow: none;}
  .single-excel .file-data:hover {transform: scale(0.99); color: #1a237e;}
  .file-data .file-ul {display: flex;padding: 0px;}
  .file-data .file-ul li {display: inline-block;}
  .file-data .file-ul li strong {color: #0068B9;}
  .notice-table.resend-row {display: flex;justify-content: space-between;align-items: center;}
  .f-name {font-size: 18px;font-weight: 500;color: #1E201F;}
  .temps-row {display: flex;gap: 10px;flex-wrap: wrap;background: #F7F8FA;padding: 10px 15px 15px;margin-bottom: 15px;}
  .temps-row h3 {display: inline-block;width: 100%;margin: 0px;font-weight: 600;}
  .temp-item {display: flex;width: 49.5%; justify-content: space-between;padding:0px 10px;}
  .temp-item > div.temp-name {box-shadow: none; color: #1E201F;width: 50%; text-align: left;}
  .temp-item > div.temp-name h5 {font-size: 16px;font-weight: 600;}
  .temp-item > div.temp-name p {font-size: 13px;}
  .import-row .loading{width: 100%; position: absolute; top: 0px; left: 0px; background: rgba(244, 244, 244, 0.6);}
  .pagination-container {display: flex;flex-direction: column;align-items: center;background: rgb(241, 241, 241);padding: 5px 0px;}
  .pagination-row {display: flex;align-items: center;gap: 10px;font-size: 14px;}
  .pagination-row #mui-component-select-pageSize {padding-top: 5px; padding-bottom: 5px;}




  @media (max-width:767px){
  .notice-page {display: inline-block;width: 100%;}
  main.right-bar {width: 86%;padding-left: 4%;padding-right: 4%;box-sizing: border-box;}
  .notice-page .hello-user h5 {font-size: 18px;}
  .gray-bg .filter-bar {padding: 8px 10px;display: inline-block;width: 100%;}
  .gray-bg .filter-bar > div {min-width: auto;margin-bottom: 10px;width: 100%;}
  .file-data .file-ul {display: inline-block; width: 100%;}
  .file-data .file-ul li {padding-left: 0px;}
  .notice-table.resend-row {display: inline-block;width: 100%;text-align: left;}
  .f-name {margin-bottom: 10px;}
  .temp-item {display: inline-block;padding-bottom: 15px;}
  .temp-item > div.temp-name {width: 100%;}
  .temp-page-title h4 {font-size: 24px;}
  .temp-item > div.temp-name h5 {font-size: 20px;}

  }
